# R project and user data files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds

# R files that tend to be large
.gri
.grd
.tiff

# For targets
_targets/
/scratch/aja/TargetsSDM/data/
/scratch/aja/TargetsSDM/results/

# For pachyderm
pachy/pfs/*

# AJA data and results folders
/scratch/aja/data
scratch/aja/TargetsSDM/parameter_estimates.RData
scratch/aja/TargetsSDM/parameter_estimates.txt
scratch/aja/TargetsSDM/settings.txt
scratch/aja/TargetsSDM/results